<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>N_CLIENT_ID</key>
	<string>$(N_CLIENT_ID)</string>
	<key>N_CLIENT_SECRET</key>
	<string>$(N_CLIENT_SECRET)</string>
</dict>
</plist>
